.root {
    -logo-blue:#263d8c;
	-logo-red:#bb1f09;
	-logo-orange:#e7a436;
	-logo-yellow:#f2c83d;
	-logo-Beige:#f4ede0;
	
    -my-primary-color: #3498db;
    -my-secondary-color: #2ecc71;
    
    -my-background-color: -logo-Beige;
    

    -my-button-color:-logo-yellow;
    

}
.label, .text-field, .text-area, .button {
    -fx-text-fill: -logo-blue;
}

.image-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-background-insets: 0;
}
.normal-button {
    -fx-background-color: -my-button-color;
    -fx-background-insets: 0;
    -fx-border-width: 2px;
     -fx-border-color: -logo-blue; /* Blue border when focused */
    
}
.normal-button:focused {
	-fx-border-width: 2px;
    -fx-border-color: -logo-red; /* Blue border when focused */
}

.normal-button:pressed {
    -fx-background-color: -logo-orange; /* Light gray background when pressed */
}
.image-button:focused {
    -fx-border-color: -logo-red; /* Blue border when focused */
}

.image-button:pressed {
    -fx-background-color: -logo-orange; /* Light gray background when pressed */
}
.grid-pane {
    -fx-grid-line-color: -logo-blue;
}
.scroll-pane {
    -fx-background-color: -my-background-color;
}

.scroll-pane > .viewport {
    -fx-background-color: -my-background-color;
}

.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: -logo-blue;
}

.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: -logo-blue;
}

.scroll-pane .increment-button,
.scroll-pane .decrement-button {
    -fx-background-color: -logo-blue;
}

.scroll-pane .increment-arrow,
.scroll-pane .decrement-arrow {
    -fx-background-color: #606060;
}

.scroll-pane .scroll-bar:horizontal .track,
.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color:-logo-yellow;
}

.scroll-pane > .corner {
    -fx-background-color: #e0e0e0;
}
.separator {
    -fx-background-color: -logo-blue;
}
#controlBar{

    -fx-border-width: 2px;
     -fx-border-color: -logo-blue; /* Blue border when focused */
}
#drawerArea{

    -fx-border-width: 2px;
     -fx-border-color: -logo-blue; /* Blue border when focused */
}
#shapeConfigurationBox{

    -fx-border-width: 2px;
     -fx-border-color: -logo-blue; /* Blue border when focused */
}
#fileNameBox{

    -fx-border-width: 2px;
     -fx-border-color: -logo-blue; /* Blue border when focused */
}
#view3d {
    -fx-background-color:  radial-gradient(center 50% 50%, radius 30%, #D0D0D0 0%, -logo-Beige 90%);
}

#control3d {
    -fx-background-color: transparent;
}
#drawerArea {
    -fx-background-color: -my-background-color;
}
#drawerGrid{
    -fx-background-color: -my-background-color;
}
#projectGrid{
    -fx-background-color: -my-background-color;
}
#totalApplicationBackground{
    -fx-background-color: -my-background-color;
}
#topBar{
    -fx-background-color:  -my-background-color;
}
#controlBar{
    -fx-background-color: -my-background-color;
}
#objectPallet{
    -fx-background-color: -my-background-color;
}
#shapeConfiguration{
    -fx-background-color: -my-background-color;
}
.titled-pane > .title {
    -fx-background-color:  -my-button-color;
}
#configurationGrid{
    -fx-background-color: -my-background-color;
}

#anchorPanForConfiguration{
    -fx-background-color: -my-background-color;
}



#fileNameBox{
       -fx-background-color: -my-button-color;
}

#shapeCatagory{
       -fx-background-color: -my-button-color;
}
#snapGrid{
       -fx-background-color: -my-button-color;
}
