# test
name: Publish package to GitHub Packages
on: 
   push:
       tags:       
         - '*'

jobs:
  linux:
    runs-on: ubuntu-24.04
    steps:
    - name: Install libraries
      run: |
          sudo apt update
          sudo apt install libasound2-dev libavcodec-dev libavformat-dev libavutil-dev libgl-dev libgtk-3-dev libpango1.0-dev libxtst-dev libgtk2.0-0 zip
    - name: Checkout
      uses: actions/checkout@v1
      with:
         submodules: recursive 
    - name: Set OAuth Key
      env: # Or as an environment variable
         OAUTH_SECRET: ${{ secrets.OAUTH_SECRET }}
      run: |
         sed -i "s/REPLACE_ME/$OAUTH_SECRET/g" BowlerStudio/src/main/java/com/neuronrobotics/bowlerstudio/NameGetter.java        
    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//} 
    - name: Set Release Number Studio
      run: |
         echo $'app.name=CaDoodle' > BowlerStudio/src/main/resources/com/neuronrobotics/bowlerstudio/build.properties 
         echo "app.version=${{ steps.get_version.outputs.VERSION  }}" >> BowlerStudio/src/main/resources/com/neuronrobotics/bowlerstudio/build.properties 
         
    - name: Build
      env:
         VERSION_SEMVER: ${{ steps.vars.outputs.tag }}
      run: bash build.sh
    - name: Move jar
      run: |
        mv build/libs/* .
        ls -al
    - name: Set Java
      uses: actions/setup-java@v1
      with:
        java-version: 21
        jdkFile: zulu21.46.19-ca-fx-jdk21.0.9-linux_x64.tar.gz

    - name: Download Bowler kernel into CI
      run: wget https://github.com/CommonWealthRobotics/bowler-script-kernel/releases/latest/download/bowler-kernel.jar
    - name: start xvfb
      run:
        Xvfb :0 &
    - name: initialize the X11 DISPLAY variable
      run:
        export DISPLAY=:0
    - name: Compile Script
      run: xvfb-run -s '-screen 0 1024x768x24' java -Dprism.verbose=true -Dprism.forceGPU=true -Xmx6500M -jar bowler-kernel.jar -g https://github.com/CommonWealthRobotics/CaDoodle-Git-Resources.git loadGit.groovy
    - name: Zip Results
      run: (export START=$PWD;cd $HOME/Documents/bowler-workspace/gitcache/ ; zip -r $START/gitcache.zip .)
    - name: After JDK download, list directory contnts
      run: pwd; ls -la  
      
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          CaDoodle-Application.jar
          jvm.json
          gitcache.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

